.post {
  & {
    display: flex;
    column-gap: 10px;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
  }
  &__icon {
    display: block;
  }
  &__img-wrapper {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    user-select: none;

    &:hover .post__view-img-btn {
      visibility: visible;
    }
  }
  &__img-loader {
    @include flex-center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.741);

    &--hidden {
      display: none;
    }
  }
  &__img-loader-spinner {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    border-left-color: transparent;
    animation: spinner-rotate 1s infinite;
  }
  &__img {
    width: 100%;
    height: 100%;

    &--hidden {
      display: none;
    }
  }
  &__view-img-btn {
    @include flex-center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    color: rgba(255, 255, 255, 0.735);
    font-size: 22px;
    visibility: hidden;
  }
  &__body {
    flex: 1 0 0;
    overflow: hidden;
    display: flex;
    column-gap: 5px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__meta-data {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
  }
  &__dot {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: rgba(0,0,0,.54);
  }
  &__desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  &__actions {
    padding-right: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__actions-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(128, 128, 128);

    &:hover {
      background-color: rgba(229, 231, 235, 0.476);
      color: rgb(0, 0, 0);
    }
  }
  &__actions-delete-btn {

  }
  &__actions-remove-favourite-btn {
    color: rgb(153 27 27) !important;
  }
  &__actions-open-menu-btn {
    font-size: 22px;
    display: none;
  }
  &__popup-menu {
    top: 5px;
    right: 5px;
  }
  &__popup-menu-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    text-align: start;
    height: 30px;
    padding: 0 10px;
    font-size: 14.5px;
    color: rgb(107 114 128);

    &:hover {
      background-color: rgba(0, 0, 0, 0.115);
      color: rgb(0, 0, 0);
    }
  }
  &__popup-menu-icon {
    font-size: 20px;
  }
}

@include mq('tablet-small') {
  .post {
    & {
      padding: 3px;
    }
    &__actions-btn:not(.post__actions-open-menu-btn) {
      display: none;
    }
    &__actions-open-menu-btn {
      display: block;
    }
    &__body {
      
    }
    &__desc {
      font-size: 12px;
    }
    &__meta-data {
      font-size: 10px;
    }
    &__actions-btn {
      width: 34px;
      height: 34px;
    }
  }
}