.post {
  & {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-radius: 3px;
  }
  &__icon {
    display: block;
  }
  &__img {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  &__left {
    
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__open-menu-btn {
    font-size: 22px;
  }
}
