.post {
  & {
    display: flex;
    column-gap: 10px;
    padding: 5px;
    border-radius: 3px;
    position: relative;
  }
  &__icon {
    display: block;
  }
  &__img-wrapper {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    user-select: none;

    &:hover .post__view-img-btn {
      visibility: visible;
    }
  }
  &__img-loader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.741);
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__view-img-btn {
    @include flex-center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    color: rgba(255, 255, 255, 0.735);
    font-size: 22px;
    visibility: hidden;
  }
  &__left {
    flex: 1 0 0;
    display: flex;
    column-gap: 5px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__meta-data {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
    color: grey;
  }
  &__dot {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: grey;
  }
  &__desc {
    font-size: 14px;
    color: grey;
    font-weight: 400;
  }
  &__right {
    padding-right: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__heart-icon {
    font-size: 22px;
  }
  &__heart-unfilled-icon {
    color: grey;
  }
  &__heart-filled-icon {
    color: rgb(226, 61, 61);
  }
  &__open-menu-btn {
    font-size: 22px;
  }
  &__popup-menu {
    min-width: 200px;
    top: 5px;
    right: 5px;
  }
  &__popup-menu-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    text-align: start;
    height: 30px;
    padding: 0 12px;
    font-size: 15.5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.115);
    }
  }
  &__popup-menu-icon {
    font-size: 20px;
  }
}
