.profile-page {
  & {

  }
  &__icon {
    display: block;
  }
  &__top-bar, &__posts, &__no-posts-title, &__loading-title {
    margin-top: 20px;
  }
  &__top-bar {
    display: flex;
    column-gap: 5px;
    height: 40px;
  }
  &__filter-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100px;
    color: rgb(0, 0, 0);
  }
  &__filter-menu-btns {
    display: flex;
    flex-direction: column;
  }
  &__filter-menu-btn {
    white-space: nowrap;
    text-align: start;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    font-size: 15.5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.115);
    }
  }
  &__filter-btn {
    height: 100%;
    background-color: rgb(26, 115, 232);
  }
  &__filter-btn, &__add-post-btn {
    @include flex-center;
    gap: 3px;
    padding: 3px 13px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transform: all .2s ease-in;
    position: relative;
    border-radius: 3px;

    &:hover {
      opacity: .9;
    }
  }
  &__add-post-btn {
    background-color: rgb(89, 145, 11);
  }
  &__search-input-wrapper {
    padding: 0 5px;
    border-radius: 3px;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 17px;
    color: rgb(161 161 170);
    border: 1px solid rgb(161 161 170);

    &:hover {
      border-color: rgb(30 41 59) !important;
      color: rgb(30 41 59) !important;
    }
  }
  &__search-icon {
    font-size: 22px;
  }
  &__search-input {
    min-width: 0;
    flex: 1 0 0;
    align-self: stretch;
    
    &::placeholder {
      color: rgb(161 161 170);
    }
  }
  &__posts {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  &__post {
    height: 60px;
  }
  &__no-posts-title, &__loading-title {
    font-size: 22px;
    text-align: center;
    user-select: none
  }
  &__loading-title {

  }
  &__filter-btn-wrapper {
    position: relative;
  }
  &__reload-btn, &__loader {
    @include push--auto;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  &__reload-btn {
    @include flex-center;
    font-size: 35px;
    color: grey;

    &:hover {
      background-color: rgba(0, 0, 0, 0.034);
    }
  }
  &__reload-icon {

  }
  &__loader {
    border: 5px solid rgb(24, 76, 198);
    border-right-color: transparent;
    animation: spinner-rotate 1s infinite;
  }
}

@include mq('tablet') {
  .profile-page {
    &__post {
      height: 50px;
    }
    &__top-bar, &__posts, &__no-posts-title, &__loading-title {
      margin-top: 10px;
    }
    &__top-bar {
      height: 30px;
    }
    &__filter-btn, &__add-post-btn {
      padding: 3px 7px;
      font-size: 15px;
    }
  }
}
