.profile-page {
  & {

  }
  &__icon {
    display: block;
  }
  &__top-bar {
    padding-bottom: 5px;
    margin-top: 20px;
    display: flex;
    column-gap: 5px;
    height: 40px;
  }
  &__filter-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100px;
    color: rgb(0, 0, 0);
  }
  &__filter-menu-btns {
    display: flex;
    flex-direction: column;
  }
  &__filter-menu-btn {
    white-space: nowrap;
    text-align: start;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    font-size: 15.5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.115);
    }
  }
  &__search-input-wrapper {
    padding: 0 5px;
    border-radius: 3px;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.578);
  }
  &__search-icon {
    font-size: 22px;
  }
  &__search-input {
    flex: 1 0 0;
    align-self: stretch;
  }
  &__seperator {
    margin-top: 5px;
    height: 1px;
    background-color: black;
  }
  &__posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  &__post {
    border: 1px solid rgba(0, 0, 0, 0.455);
    height: 60px;
  }
  &__no-posts-title, &__loading-title {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    user-select: none
  }
  &__loading-title {

  }
  &__filter-btn {
    height: 100%;
  }
  &__filter-btn, &__add-post-btn {
    @include flex-center;
    gap: 3px;
    padding: 0 13px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transform: all .2s ease-in;
    position: relative;
    background-color: rgb(24, 76, 198);

    &:hover {
      opacity: .9;
    }
  }
  &__filter-btn-wrapper {
    position: relative;
  }
  &__add-post-btn {
    background-color: rgb(89, 145, 11);
  }
  &__reload-btn {
    @include flex-center;
    @include push--auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
  }
  &__reload-icon {
    font-size: 22px;
  }
}
